server:
  port: 8189
  servlet:
    context-path: /app
spring:
  datasource:
    driver-class-name: org.h2.Driver
    # url: jdbc:h2:mem:mydatabase;MODE=PostgreSQL
    # сохранил в файлик, т.к. если база в оперативной памяти, то ни идея, ни консольное приложение не определяет ее содержимое
    url: jdbc:h2:file:C:/Main/Education/GB/thief;MODE=PostgreSQL;AUTO_SERVER=TRUE;
    username: sa
    password:
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: false
  session:
    store-type: redis
    redis:
      host: localhost
      password:
      port: 6379
