
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPM_Cabinet</title>

    <link th:href="@{/css/blocks/board_greeting.css}" media="screen" rel="stylesheet" >
    <link th:href="@{/css/blocks/footer.css}" media="screen" rel="stylesheet" >
    <link th:href="@{/css/blocks/header.css}" media="screen" rel="stylesheet" >
    <link th:href="@{/css/blocks/base.css}" media="screen" rel="stylesheet" >
    <link th:href="@{/css/blocks/reset.css}" rel="stylesheet" >
    <link th:href="@{/css/fonts/VAGRounded/stylesheet.css}" rel="stylesheet" >

    <link rel="stylesheet" href="css/blocks/board_greeting.css">
    <link rel="stylesheet" href="css/blocks/footer.css">
    <link rel="stylesheet" href="css/blocks/header.css">
    <!--Reset/Base-->
    <link rel="stylesheet" href="css/blocks/base.css">
    <link rel="stylesheet" href="css/blocks/reset.css">
    <!--Fonts-->
    <link rel="stylesheet" href="css/fonts/VAGRounded/stylesheet.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-row">
                <div class="header-logo">
                    <img src="content/img/logo-01.svg" alt="Logo" width="250px" th:src="@{/content/img/logo-01.svg}">
                </div>

                <nav class="header-nav">
                    <ul class="">
                        <li><a th:href="@{/}">Главная</a></li>
                        <li><a href="#" class= "link__active">Кабинет</a></li>
                        <li><a th:href="@{/api/v1/family}">Семья</a></li>
                        <li><a th:href="@{/api/v1/tasks}">Задачи</a></li>
                        <li><a href="#">Статистика</a></li>
                    </ul>
                </nav>
                <div class="header-login">

                    <a class="btn__signin" th:href="@{/register}">Регистрация</a>
                    <a class="btn btn-default" th:href="@{/}">Выход</a>
    
                </div>
            </div>
        </div>

        <script >
            function goToTask(title) {
                var url = document.getElementById('/app/api/v1/task_info/' + title);
                document.location.href = "/app/api/v1/task_info/" + title;
            }
        </script>

    </header>

    <!-- Tasks -->
    <main>
        <section class="cabinet">

            <div class="container container__cabinet">

                <div class="content__row content__row__cabinet">

                    <div class="content__element__col left__content__element__col">
    
                        <div class="content__element left__content__element">
    
                            <div class="board board__greeting greeting">
    
                                <h1  class="header__h1 board__header__h1 greeting__board__header__h1" th:text="${'Добро пожаловать, ' + user.getLogin() + ' ' +  user.getPeopleGroups().getName() + ' !'}">Добро пожаловать, Parent XXX!</h1>

                                <!--Блоки для родителей-->
                                <div
                                    class="list list__creating__new-task-and-bonuses"
                                    th:if="${user.role.getRole().equals('ROLE_PARENT')}">

                                    <div
                                        class="item item-first create__new__task__item">

                                        <a href="/app/api/v1/tasks" class="btn__link create__new__task__link">

                                            <img
                                                src="content/img/Icon_3.svg"
                                                class="icons create__new__task__icon"
                                                alt="task-photo"
                                                th:src="@{/content/img/Icon_3.svg}"/>

                                        </a>

                                        <h1 class="item__header__h1 create__task__header__h1">Создать новую задачу </h1>

                                    </div>

                                    <!--Кнопка для создания бонусов-->

                                    <div class="item item-first create__new__task__item">

                                        <a href="/app/api/v1/bonuses" class="btn__link create__new__task__link">

                                            <img
                                                src="content/img/Icon_3.svg"
                                                class="icons create__new__task__icon"
                                                alt="task-photo"
                                                th:src="@{/content/img/Icon_3.svg}"/>

                                        </a>

                                        <a class="item__header__h1 create__task__header__h1"
                                              >Создать новый бонус </a>

                                    </div>

                                </div>

                                

                                <!--Блоки для детей-->

                                <div class="container" th:if="${user.role.getRole().equals('ROLE_CHILDREN')}">

                                    <h1 class="header__h1 board__header__h1 greeting__board__header__h1">Принятая задача:</h1>

                                    <div  class="list list__tasks" >

                                        <div class="item item-first" th:each="t : ${executingTaskDto}" >

                                            <a class="card card__task" th:href="@{'/api/v1/task_info/' + ${t.id}}"> 


                                                <!-- Карточка задачи -->
    
                                                <div  class="card__row task__card__row"> 
    
    
                                                    <!-- Блок заголовок и текст карточки -->
    
                                                    <div class="card__header__text task__card__headerandtext">
     
                                                        <!-- Заголовок карточки -->
                                                        <h1 class="card__header__h1 task__card__header__h1" th:text="${t.title}">Заголовок задачи</h1>
    
                                                        <!-- Текст карточки -->
                                                        <p   class="card__text__p task__card__text__p" th:text="${'Назначено: ' + t.getUserExecutingTask().getLogin()}">
                                                            Назначенный исполнитель
                                                        </p>

                                                    </div>
                                                        
                                                    <p class="card__text__p card__status" th:text="${'Статус ' + t.status.getTitle()}">
                                                        Статус: принята                                              
                                                    </p>
    

    
                                                    <!-- Блок оценка карточки -->
                                                    <div class="card-span card-span__task card-span__task__wages">
                                                       
                                                        <!-- Оценка карточки -->
                                                        <span class="span__number span__wages" th:text="${t.wages}">5</span>
    
                                                    </div>
    
                                                </div>
    
                                            </a>
                                            
                                            <div class="subitem subitem__child-button subitem__child-button__complete">
                                                <a 
                                                    type="submit"
                                                    class="btn btn-action btn-acton__complete btn-acton_task-complete"
                                                    th:href="@{ '/api/v1/task_info/end/' + ${executingTaskDto.id}}">
                                                        Завершить
                                                </a>
                                            </div>

                                        </div>

                                        <div class="item item-second">
                                            
                                            <h1
                                                class="header__h1 board__header__h1 greeting__board__header__h1"
                                                >
                                                    Количество денег в кошельке:
                                            </h1>
                                            
                                            <p class="text-field text-field__currency-amount text-field__currency-amount__p"
                                               th:text="${user.wallet.getValue() + ' грефчиков'}">
                                                100 грефчиков
                                            </p>

                                        </div>

                                        <div class="item item-third">

                                            <h1 class="header__h1 board__header__h1 tasks__list__board__header">
                                                Хватает на :
                                            </h1>

                                           <div class="subitem__child-button subitem__child-button__list">
                                               <a 
                                                type="subitem"
                                                class="btn btn-action btn-acton__complete btn-acton_task-complete"
                                                href="/app/api/v1/bonuses"
                                               >
                                                   <!-- th:href="@{ '/api/v1/task_info/end/' + ${taskDto.id}}"-->
                                                    Список
                                                </a>
                                               <a 
                                                type="subitem"
                                                class="btn btn-action btn-acton__complete btn-acton_task-list">
                                                <!--th:href="@{ '/api/v1/task_info/end/' + ${executingTaskDto.id}}"-->
                                                    Получить
                                                </a>
                                           </div>

                                        </div>

                                    </div>
   
                                 </div>

                            </div> 

                        </div>

                    </div>
                    
                    <div class="content__element__col right__content__element__col">

                        <div class="container top__right__element">

                            <!-- Tasklist -->
                            <div class="board board__tasks-list">

                                <h1 class="header__h1 board__header__h1 tasks__list__board__header">Общий список задач:</h1>
                                
                                <div  class="list tasks__list">

                                    <!-- Карточка задачи -->
                                    <div class="card card__task" th:each=" t : ${tasks}">

                                      
                                        <div  class="card__row task__card__row" >
                                
                                            <!-- Блок заголовок и текст карточки -->
                                            <a class="card__header__text task__card__headerandtext"

                                               th:href="@{'/api/v1/task_info/' + ${t.id}}">


                                                <!-- Заголовок карточки -->
                                                <h1 class="card__header__h1 task__card__header__h1" th:text="${t.title}">Заголовок задачи</h1>

                                                <!-- Текст карточки -->
                                                <p th:if="${!t.userExecutingTask.equals(null)}" class="card__text__p task__card__text__p" th:text="${'Назначено: ' + t.getUserExecutingTask().getLogin()}">Назначенный исполнитель</p>

                                              <!--  <p class="card__text__p card__status" th:text="${ 'Статус: ' + t.status.getTitle()}">текущий статус задачи</p> -->

                                            </a>

                                            <p class="card__text__p card__status" th:text="${'Статус ' + t.status.getTitle()}">Статус: принята</p>

                                            <!-- Блок оценка карточки -->
                                             <div class="card-span card-span__task card-span__task__wages">
                                                <!-- Оценка карточки -->

                                                <span class="span__number span__wages" th:text="${t.wages}">5</span>

                                            </div>

                                         </div>

                                    </div>

                                </div>
                                                    
                                <!-- Блок показать "ЕЩЕ" -->
                                <div class="expand__list__element showmore__element">

                                    <div class="element__row showmore__element__row ">

                                        <div class="showmore__text">
                                            <a href="#" class="link__a showmore__link">Еще...</a>
                                        </div>

                                    </div>

                                </div>

                             </div> 
                             
                        </div>

                        <div class="container bottom__right__element">

                            <!-- Family -->
                            <div class="board board__family-list">

                                <!-- Заголовок доски -->
                                <h1 class="header__h1 board__header__h1 family__list__board__header">Семья:</h1>

                                <!-- Каторчка задач в цикле, получение из БД чере ТЛ -->
                                <div class="list family__list">

                                    <!-- Карточка задачи -->
                                    <div class="card card__family" th:each="f : ${myFamily}">

                                        <div class="card__row family__card__row">

                                            <!-- Блок заголовок и текст карточки -->
                                            <div class="card__header__text family__card__headerandtext">

                                                <!-- Заголовок карточки -->
                                                <h1 class="card__header__h1 family__card__header__h1" th:text="${f.login}">Имя ребнка</h1>

                                                <!-- Текст карточки -->
                                                <p class="card__text__p family__card__text__p" th:text="${f.peopleGroupName}">Количество полученных задач</p>

                                            </div>

                                            <!-- Блок оценка карточки -->
                                            <div class="card-span card-span__family card-span__family__tasks">

                                                <!-- Оценка карточки -->
                                                <span class="span__number span__wages" th:text="${f.executingTasksListSize}">2</span>

                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <!-- Блок показать "Подробнее" -->
                                <div class="expand__list__element  more__details__element">

                                    <div class="element__row more__details__element__row ">

                                        <div class="more__details__text">

                                            <a href="#" class="link__a more__details__link">Подробнее...</a>
                                        </div>

                                    </div>

                                </div>

                            </div>
                
                        </div>

                    </div>

                </div>

            </div>

        </section>

    </main>

    <footer>
        <div th:insert="copyright :: copy"></div>
    </footer>

</body>

</html>





<!--<div class="container" th:if="${user.role.getRole().equals('ROLE_CHILDREN')}">-->

<!--    <h1 class="header__h1 board__header tasks__list__board__header">Принятая задача:</h1>-->

<!--    <div  class="list list__tasks" th:each="t : ${executingTaskDto}" >-->

<!--        <div class="item item-first">-->

<!--            <div class="card card__task"> -->


<!--                &lt;!&ndash; Карточка задачи &ndash;&gt;-->

<!--                <div  class="card__row task__card__row"> -->


<!--                    &lt;!&ndash; Блок заголовок и текст карточки &ndash;&gt;-->

<!--                    <a class="card__header__text task__card__headerandtext"th:href="@{'/api/v1/task_info/' + ${t.id}}">-->

<!--                        &lt;!&ndash; Заголовок карточки &ndash;&gt;-->
<!--                        <h1 class="card__header__h1 task__card__header__h1" th:text="${t.title}">Заголовок задачи</h1>-->

<!--                        &lt;!&ndash; Текст карточки &ndash;&gt;-->
<!--                        <p class="card__text__p task__card__text__p" th:text="${'Назначено: ' + t.getUserExecutingTask().getLogin()}">-->
<!--                            Назначенный исполнитель-->
<!--                        </p>-->
<!--                        -->
<!--                        <p class="card__text__p card__status" th:text="${'Статус ' + t.status.getTitle()}">-->
<!--                            Статус: принята                                              -->
<!--                        </p>-->

<!--                    </a>-->

<!--                    &lt;!&ndash; Блок оценка карточки &ndash;&gt;-->
<!--                    <div class="card-span card-span__task card-span__task__wages">-->
<!--                       -->
<!--                        &lt;!&ndash; Оценка карточки &ndash;&gt;-->
<!--                        <span class="span__number span__wages" th:text="${t.wages}">5</span>-->

<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->
<!--            -->
<!--            <div class="subitem subitem__child-button subitem__child-button__complete">-->
<!--                <a -->
<!--                type="submit"-->
<!--                class="btn btn-action btn-acton__complete btn-acton_task-complete"-->
<!--                th:href="@{ '/api/v1/task_info/end/' + ${taskDto.id}}">-->
<!--                    Завершить-->
<!--            </a>-->
<!--            </div>-->

<!--        </div>-->

<!--        <div class="item item-second">-->
<!--            -->
<!--            <h1-->
<!--                class="header__h1 board__header tasks__list__board__header"-->
<!--                th:text="${'Количество денег в кошельке:' + user.wallet.getValue()}">-->
<!--                    Количество денег в кошельке:-->
<!--            </h1>-->
<!--            -->
<!--            <p>-->
<!--                100 грефчиков-->
<!--            </p>-->

<!--        </div>-->

<!--        <div class="item item-third">-->

<!--            <h1 class="header__h1 board__header tasks__list__board__header">-->
<!--                Хватает на:-->
<!--            </h1>-->

<!--        </div>-->

<!--    </div>-->

<!-- </div>-->