<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPM_Family</title>

    <link th:href="@{/css/blocks/board_family.css}" media="screen" rel="stylesheet">
    <link th:href="@{/css/blocks/board_chat.css}"media="screen"  rel="stylesheet">

    <link th:href="@{/css/blocks/footer.css}" media="screen" rel="stylesheet">
    <link th:href="@{/css/blocks/header.css}" media="screen" rel="stylesheet">

    <link th:href="@{/css/blocks/base.css}" media="screen" rel="stylesheet">
    <link th:href="@{/css/blocks/reset.css}" media="screen" rel="stylesheet">

    <link th:href="@{/css/fonts/VAGRounded/stylesheet.css}" media="screen" rel="stylesheet">

    <!-- Specific -->
    <link rel="stylesheet" href="css/blocks/board_family.css">
    <link rel="stylesheet" href="css/blocks/board_chat.css">

    <!-- Main -->
    <link rel="stylesheet" href="css/blocks/header.css">
    <link rel="stylesheet" href="css/blocks/footer.css">

    <!--Reset-->
    <link rel="stylesheet" href="css/blocks/base.css">
    <link rel="stylesheet" href="css/blocks/reset.css">

    <!--Fonts-->
    <link rel="stylesheet" href="css/fonts/VAGRounded/stylesheet.css">
</head>

<body>
<header class="header">
    <div class="container">
        <div class="header-row">

            <div class="header-logo">
                <img src="content/img/logo-01.svg" alt="Logo" width="250px" th:src="@{/content/img/logo-01.svg}">
            </div>

            <nav class="header-nav">
                <ul class="">
                    <li><a th:href="@{/}">Главная</a></li>
                    <li><a th:href="@{/api/v1/cabinet}">Кабинет</a></li>
                    <li><a href="#" class= "link__active">Семья</a></li>
                    <li><a th:href="@{/api/v1/tasks}">Задачи</a></li>
                    <li><a href="#">Статистика</a></li>
                </ul>
            </nav>

            <div class="header-login">

                <a  class="btn__signin btn-default" href="/register">Регистрация</a>
                <a class="btn btn-default"th:href="@{/}">Выход</a>

            </div>
        </div>
    </div>
</header>

<main>
    <section class="family">

        <div class="container family__container">

            <div class="content__row family__content__row">

                <div class="content__element left__content__element">

                    <div class="content__element__col">

                        <div class="family__board">

                            <!--/*@thymesVar id="getPeopleGroupName" type=""*/-->
                            <h1 class="header__h1 board__header__h1 family__board__header" th:text="${'Семья ' + user.getPeopleGroups().getName() + ' !'}" >Семья 'ивановы'</h1>


                            <div class="family__view children__parents__view">

                                <h2 class="header__h2 view__header__h2 family__view__header__h2">Дети:</h2>

                                <div class="card card__family card__family__members" th:each="u : ${users}">

                                    <div class="card__row family__card__row">

                                        <!-- Блок заголовок и текст карточки -->
                                        <div class="card__header__text family__card__headerandtext">

                                            <!-- Заголовок карточки -->
                                            <h1 class="card__header__h1 family__card__header__h1" th:text="${u.login}">Child 1</h1>

                                            <!-- Текст карточки -->
                                            <p class="card__text__p task__card__text__p" th:text="${u.login}">Задач у ребенка</p>

                                        </div>

                                        <!-- Блок оценка карточки -->
                                        <div class="card__span task__card__span task__summ__wages__span">
                                            <!-- Оценка карточки -->

                                            <span class="number_span wages__span" th:text="${u.executingTasksListSize}">5</span>

                                        </div>

                                    </div>

                                </div>

                                <h2 class="header__h2 view__header__h2 family__view__header__h2">Взрослые:</h2>

                                <div class="card card__family card__family__members" th:each="u : ${users}">

                                    <div class="card__row family__card__row">

                                        <!-- Блок заголовок и текст карточки -->
                                        <div class="card__header__text family__card__headerandtext">

                                            <!-- Заголовок карточки -->
                                            <h1 class="card__header__h1 family__card__header__h1" th:text="${u.login}">Child 1</h1>

                                            <!-- Текст карточки -->
                                            <p class="card__text__p task__card__text__p" th:text="${u.login}">Задач у ребенка</p>

                                        </div>

                                        <!-- Блок оценка карточки -->
                                        <div class="card__span task__card__span task__summ__wages__span">
                                            <!-- Оценка карточки -->

                                            <span class="number_span wages__span" th:text="${u.executingTasksListSize}">5</span>

                                        </div>

                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>

                </div>


                <div class="content__element right__content__element">

                    <div class="content__element__col right__content__element__col">

                        <div class=" item first__item chat__board">

                            <h1 class="header__h1 board__header__h1 family__board__header__h1">Семейный чат:</h1>

                            <div class="chat__view family__chat__view">

                                <div class="message chat__message family__chat__message">

                                    <div class="message__row message__family__chat__row">

                                        <!-- Блок заголовок и текст карточки -->
                                        <div class="message__header__text">

                                            <!-- Кто написал СМС -->
                                            <h1 class="message__header message__header__h1" >Parent 1</h1>

                                            <!-- Текст СМС -->
                                            <p class="message__text message__text__p">Уже пришел домой?</p>

                                        </div>

                                    </div>

                                </div>

                                <div class="message chat__message family__chat__message">

                                    <div class="message__row message__family__chat__row">

                                        <!-- Блок заголовок и текст карточки -->
                                        <div class="message__header__text">

                                            <!-- Кто написал СМС -->
                                            <h1 class="message__header message__header__h1" >Child 1</h1>

                                            <!-- Текст СМС -->
                                            <p class="message__text message__text__p">
                                                Да пап. Сейчас возьму задачу.<br>
                                                Разнообразный и богатый опыт говорит нам, что социально-экономическое развитие
                                                однозначно фиксирует необходимость переосмысления внешнеэкономических политик!
                                                Но ключевые особенности структуры проекта освещают чрезвычайно интересные особенности
                                                картины в целом, однако конкретные выводы, разумеется, заблокированы в рамках своих
                                                собственных рациональных ограничений. Убеждённость некоторых оппонентов требует от
                                                нас анализа поставленных обществом задач. Новая модель организационной деятельности
                                                требует определения и уточнения приоритизации разума над эмоциями. Внезапно,
                                                акционеры крупнейших компаний набирают популярность среди определенных слоев населения,
                                                а значит, должны быть разоблачены. Имеется спорная точка зрения, гласящая примерно
                                                следующее: базовые сценарии поведения <br>
                                                пользователей освещают чрезвычайно интересные особенности картины в целом, однако
                                                конкретные выводы, разумеется, преданы социально-демократической анафеме.
                                            </p>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="item second__item message__sender">
                            <div class="body__sender">
                                <div class="create__task__list__col">

                                </div>
                                <form action="">
                                    <form method="POST"
                                          action=""
                                          >

                                        <!-- Форма ввода текста -->
                                        <div class="input create__task__input">

                                            <div class="task-header">

                                                <input type="text"

                                                       value=""
                                                       class="form-control"
                                                       id="title"
                                                       placeholder="Введите текст..."
                                                       aria-describedby="taskHelp">

                                            </div>

                                        </div>


                                    </form>
                            </div>
                        </div>

                    </div>

                </div>


            </div>

        </div>

    </section>

</main>

<footer class="footer">

    <div class="footer__row">
        <div th:insert="copyright :: copy" class="footer__text">

        </div>
    </div>

</footer>

</body>

</html>