<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earn Pocket Money</title>


    <link th:href="@{/css/blocks/home.css.css}"  media="screen" rel="stylesheet" >
    <link th:href="@{/css/blocks/header.css}" media="screen" rel="stylesheet">
    <link th:href="@{/css/blocks/base.css}" media="screen" rel="stylesheet">
    <link th:href="@{/css/blocks/reset.css}" media="screen" rel="stylesheet">
    <link th:href="@{/css/fonts/VAGRounded/stylesheet.css}" rel="stylesheet" >

    <link rel="stylesheet" href="css/blocks/header.css">
    <link rel="stylesheet" href="css/blocks/home.css">
    <!-- <link rel="stylesheet" href="css/blocks/task-creating.css">-->


    <!--Reset-->
    <link rel="stylesheet" href="css/blocks/base.css">
    <link rel="stylesheet" href="css/blocks/reset.css">

    <!--Fonts-->
    <link rel="stylesheet" href="css/fonts/VAGRounded/stylesheet.css">
    
</head>

<body>
    <header class="header">

        <div class="container">

            <div class="header-row">

                <div class="header-logo">
                    <img src="content/img/logo-01.svg" alt="Logo" width="250px">
                </div
                ><nav class="header-nav">
                    <ul class="">
                        <li><a th:href="@{/}">Главная</a></li>
                        <li><a th:href="@{/api/v1/cabinet}">Кабинет</a></li>
                        <li><a th:href="@{/api/v1/family}">Семья</a></li>
                        <li><a th:href="@{/api/v1/tasks}">Задачи</a></li>
                        <li><a href="#">Статистика</a></li>
                    </ul>
                </nav>
                <div class="header-login">
                    <a class="btn__signin btn-default" th:href="@{/register}">Регистрация</a>
                    <a class="btn btn-default" th:href="@{/}">Вход</a>
                </div>
            </div>
        </div>
    </header>

    <main>

        <section class="task__info">

            <div class="container">

                <div class="container tasks__info__container">

                    <div class="task__info__content_row">

                        <div class="left__content__element">

                            <div class="task__info__card">

                                <h1 class="task__info__header">Информация о задаче</h1>

                                <div class="task__info__text" th:if="${taskDto != null}">
                                    <h5 th:text="${'Автор задачи: ' + taskDto.userCreatingTask.getLogin()}"></h5>
                                    <h5 th:text="${'Название задачи: ' + taskDto.title}"></h5>
                                    <h5 th:text="${'Текст задачи: ' + taskDto.taskText}"></h5>
                                    <h5 th:text="${'Статус задачи: ' + taskDto.status.getTitle()}"></h5>
                                    <h5 th:text="${'Исполнитель: ' + taskDto.userExecutingTask.getLogin()}"></h5>
                                    <h5 th:text="${'Стоимость задачи: ' + taskDto.wages}"></h5>
                                    <h5 th:text="${'Дата создания задачи: ' + taskDto.createdAt}"></h5>
                                    <h5 th:text="${'Дата изменения задачи: ' + taskDto.updatedAt}"></h5>
                                </div>

                                <div class="task__info__check check__id" th:if="${taskDto == null}">
                                    <p class="check__id__answer__text">Такой задачи не существует. Проверьте ID</p>
                                </div>

                                <a class="task__info__link to__main__link" th:href="@{/}">На главную страницу</a>

                                <div class="task__info__text" th:if="${taskDto != null}">
                                    <h5 > _    </h5>
                                    <a th:href="@{ '/api/v1/task_info/end/confirmation/' + ${taskDto.id}}"  >  Кнопка подтвердить   </a>
                                    <h5 > _    </h5>
                                    <a th:href="@{ '/api/v1/task_info/accepted/' + ${taskDto.id}}">  Кнопка принять   </a>
                                    <h5 > _    </h5>
                                    <a  th:href="@{ '/api/v1/task_info/end/' + ${taskDto.id}}" >  Кнопка завершить   </a>
                                </div>

                            </div>

                        </div>
                            
                        <div class="right__content__element">

                        </div>

                    </div>

                </div>
            </div>
            
        </section>

    </main>
</body>

</html>



 <!-- <link th:href="@{/css/blocks/header.css}" rel="stylesheet" />
    <link th:href="@{/css/blocks/home.css}" rel="stylesheet" />

    <link th:href="@{/css/blocks/base.css}" rel="stylesheet" />
    <link th:href="@{/css/blocks/reset.css}" rel="stylesheet" /> -->

    <!-- Fonts -->
    <!-- <link th:href="@{/css/fonts/Georgia/stylesheet.css}" rel="stylesheet">
    <link th:href="@{/css/fonts/Lato/stylesheet.css}" rel="stylesheet">
    <link th:href="@{/css/fonts/EcoCoding/stylesheet.css}" rel="stylesheet"> -->