<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earn Pocket Money</title>


    <link rel="stylesheet" href="css/blocks/header.css">
    <link rel="stylesheet" href="css/blocks/home.css">
    <!-- <link rel="stylesheet" href="css/blocks/task-creating.css">-->


    <!--Reset-->
    <link rel="stylesheet" href="css/blocks/base.css">
    <link rel="stylesheet" href="css/blocks/reset.css">

    <!--Fonts-->
    <link rel="stylesheet" href="css/fonts/VAGRounded/stylesheet.css">
    
</head>

<body>
    <header class="header">

        <div class="container">

            <div class="header-row">

                <div class="header-logo">
                    <img src="content/img/logo-01.svg" alt="Logo" width="250px">
                </div
                ><nav class="header-nav">
                    <ul class="">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Кабинет</a></li>
                        <li><a href="#">Семья</a></li>
                        <li><a href="/app/api/v2/tasks/all">Задачи</a></li>
                        <li><a href="#">Статистика</a></li>
                    </ul>
                </nav>
                <div class="header-login">
                    <a href="#">Регистрация</a>
                    <a href="#" class="btn">Вход</a>
                </div>
            </div>
        </div>
    </header>

    <main>

        <section class="task__info">

            <div class="container">

                <div class="container tasks__info__container">

                    <div class="task__info__content_row">

                        <div class="left__content__element">

                            <div class="task__info__card">

                                <h1 class="task__info__header">Информация о задаче</h1>

                                <div class="task__info__text" th:if="${task != null}">
                                    <h5 th:text="${'Название задачи: ' + task.title}">
                                    <h5 th:text="${'Текст задачи: ' + task.taskText}">
                                    <h5 th:text="${'Стоимость задачи: ' + task.wages}">
                                </div>

                                <div class="task__info__check check__id" th:if="${task == null}">
                                    <p class="check__id__answer__text">Такой задачи не существует. Проверьте ID</p>
                                </div>

                                <a class="task__info__link to__main__link" th:href="@{/}">На главную страницу</a>

                            </div>

                        </div>
                            
                        <div class="right__content__element">

                        </div>

                    </div>

                </div>
            </div>
            
        </section>

    </main>
</body>

</html>



 <!-- <link th:href="@{/css/blocks/header.css}" rel="stylesheet" />
    <link th:href="@{/css/blocks/home.css}" rel="stylesheet" />

    <link th:href="@{/css/blocks/base.css}" rel="stylesheet" />
    <link th:href="@{/css/blocks/reset.css}" rel="stylesheet" /> -->

    <!-- Fonts -->
    <!-- <link th:href="@{/css/fonts/Georgia/stylesheet.css}" rel="stylesheet">
    <link th:href="@{/css/fonts/Lato/stylesheet.css}" rel="stylesheet">
    <link th:href="@{/css/fonts/EcoCoding/stylesheet.css}" rel="stylesheet"> -->