body {
    font-family: 'VAGRounded', sans-serif;
    font-weight: 400;
    font-size:  20px;
    color: #292929;
}

/* Utility */
.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Grid */
/* Основной контейнер */
.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:992px) {
    .container{
        max-width: 750px;
    }
}

@media (max-width:767px) {
    .container{
        max-width: none;
    }
}

/* Заголовок досок(экранов)*/
.header__h1, .board__header__h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 32px;
    font-family: 'VAGRounded', serif;
    color: #01996D;
}

.header__h2 {
    font-weight: 700;
    font-size: 24px;
    font-family: 'VAGRounded', serif;
    color: #706c6c;
}


/* Левая и правая часть досок(экранов) */
/* Расположение элементов во фрейме Контерент */
.content__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Обеспечивается вертикальное положение элементов */
.content__element__col {
    display:  flex;
    flex-direction: column;
}

/* При необходимости не разделять на доски (экраны) */
.content__element {
    height: 1000px;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 10px;
}

/* Перевод доски(экрана) во flex-элемент, с вертикальным положением элементов */
.board {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-left: 30px; */
}


.registration_login__board {
    height: 450px;
    max-width: 450px;
    min-width: 320px;
    padding: 15px;
    margin: 0 auto;
}

/* Область для отображения спосков (задач, семьи и др) */
.list {
    display: flex;
    flex-direction: column;
    /* max-width: 100%; */

    margin: 0px auto;
    flex: 1 1 auto;
}
.list > div {
    margin-bottom: 8px;
}

/* Элементы на доске (экране) */
.item {

}

/* Первый элемент на доске (экране) */
.first__item {

}

/* Общая карточка */
.card {
    padding: 9px 9px;
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


/* Общее сообщение */
.message {
    padding: 9px 9px;
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}

/* Схема положения элементов в карточке - вертикальная */
.card__row{
    display: flex;
    justify-content: space-between;
}

.message__row{
    display: flex;
    justify-content: space-between;
}

/* Область заголовка и текста карточки */
.card__header__text{
    color: #292929;
    padding: 0px 30px 0px 0px;
}

/* Текст заголовка карточки */
.card__header__h1 {
    margin: 0px 0px 4px 0px;
}

/* Текст карточки */
.card__text__p {
    font-family: VAGRounded;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
}

/* Элемент для отображения числа */
.card__span {
    display: flex;
    background-color: #01996D;
    border-radius: 5px;
    width: 58px;
    height: 58px;

    align-items: center;
    justify-content: center;
}

.message__header__text{
    color: #292929;
    padding: 0px 30px 0px 0px;
}

/* Текст заголовка карточки */
.message__header__h1 {
    margin: 0px 0px 4px 0px;
}

/* Текст карточки */
.message__text__p {
    font-family: VAGRounded;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
}

/* Элемент для отображения числа */
.message__span {
    background-color: #01996D;
    border-radius: 5px;
    width: 58px;
    height: 58px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Число в элементе для отображения числа*/
.number_span {
    font-family: VAGRounded;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

/* Общие иконки */
.icons {
    width: 100px;
}

.item__header__h1 {
    margin-left: 2%;
    display:  flex;
    align-items: center;
}

.expand__list__element {
}

.element__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link__a {
    color: #292929;
}

.input {
}

.form-control {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}