/* body {
    font-family: 'VAGRounded', sans-serif;
    font-weight: 400;
    font-size:  20px;
    color: #292929;
   

    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

 body{
    font-family: 'VAGRounded', sans-serif;
    font-weight: 400;
    font-size:  20px;
    color: #292929;

    height: 100%;
    margin: 0;
    background-image: url(../../content/img/fon_ny_1-01.svg);
}

.header{
    background-color: #fff;
}

.footer {
  }

/* Utility */
.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Grid */
/* Основной контейнер */
.container {
    overflow: hidden;
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:992px) {
    .container{
        max-width: 750px;
    }
}

@media (max-width:767px) {
    .container{
        max-width: none;
    }
}

/* Заголовок досок(экранов)*/
.header__h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 32px;
    font-family: 'VAGRounded', serif;
    color: #01996D;
}

.board__header__h1{
    margin-top: 30px;
    margin-bottom: 30px;
}

.item-second__header{
    margin-top: 5%;
    margin-bottom: 5%px;
}


.header__h2 {
    font-weight: 700;
    font-size: 24px;
    font-family: 'VAGRounded', serif;
    color: #706c6c;
}

.p__column, p.p__column {
    display: flex;
    flex-direction: column;
}


/*Кнопки*/
.btn__row {
    display: flex;
    flex-direction: row;  
}




/*Кнопка*/
.btn, a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    color: #fff !important;
}

/*Наведение на кнопку*/
.btn:hover, a.btn:hover {
    opacity: 0.8;
    color: #fff;
}


/*Кнопка*/
.btn-default, a.btn-default {
    min-height: 51px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #01996D;

    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
    transition: opacity 0.2s ease;
}

/*Наведение на кнопку*/
.btn-default:hover, a.btn-default:hover {
    opacity: 0.8;
    color: #fff;
}


/* Левая и правая часть досок(экранов) */
/* Расположение элементов во фрейме Контерент */
.content__row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

/* вертикальное положение элементов */
.content__element__col {
    display:  flex;
    flex-direction: column;
}

/* При необходимости не разделять на доски (экраны) */
.content__element {
    height: 800px;
}


/* Перевод доски(экрана) во flex-элемент, с вертикальным положением элементов */
.board {
    display: flex;
    flex-direction: column;
}


/* Элементы на доске (экране) */
.item {
    
}

/* Первый элемент на доске (экране) */
.item-first > div > a  {

}

.list_col{
    display: flex;
    flex-direction: column;
}

/* Область для отображения спосков (задач, семьи и др) */
.list {
    overflow:auto;
    display: flex;
    flex-direction: column;
    width: 90%;

    margin: 0px auto;
    flex: 1 1 auto;
}

.list > div, .list > a {
    margin-bottom: 8px;
}


/* Схема положения элементов в карточке - вертикальная */
.card__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Общая карточка */
.card {
    padding: 9px 9px;
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

/* Общее сообщение */
.message {
    padding: 9px 9px;
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}

/* Область заголовка и текста карточки */
.card__header__text{
    color: #292929;
    padding: 0px 30px 0px 0px;
}

/* Текст заголовка карточки */
.card__header__h1 {
    margin: 0px 0px 4px 0px;
}

/* Текст карточки */
.card__text__p {
    font-family: VAGRounded;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
}

/* Элемент для отображения числа */
.card-span {
    width: 58px;
    height: 58px;

    background-color: #01996D;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.message__header__text{
    color: #292929;
    padding: 0px 30px 0px 0px;
}

/* Текст заголовка карточки */
.message__header__h1 {
    margin: 0px 0px 4px 0px;
}

/* Текст карточки */
.message__text__p {
    font-family: VAGRounded;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
}

/* Элемент для отображения числа */
.message__span {
    background-color: #01996D;
    border-radius: 5px;
    width: 58px;
    height: 58px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Число в элементе для отображения числа*/
.span__number {
    font-family: VAGRounded;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

/* Общие иконки */
.icons {
    width: 100px;
}

.item__header__h1 {
    margin-left: 2%;
    display:  flex;
    align-items: center;
}

.expand__list__element {
}

.element__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link__a {
    color: #292929;
}

.input {
    display: block;
    /* width: 100%; */
}

.form-control {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.form-control__i{
    width: 100%;
    height: 30px;
    padding: 18px;

    order: 1px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.has-error {
}

.link__active{
    text-shadow: 
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #FBB040,
        0 0 40px #FBB040,
        0 0 50px #FBB040,
        0 0 60px #FBB040,
        0 0 70px #FBB040;
}