.right__content__element__col {
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.family__list__board {
    overflow: hidden;
    max-width: 100%;
    background-image: url(../../content/img/fon_ny_2-01.svg);

    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-basis: 38%;
    flex-grow: 1;
    margin-top: 1%;
}

.board__header, .family__list__board__header {

}

.family__list {

}

.card__family {
    width: 492px;
    height: 80px;
}

.family__card__row {
}

.family__card__headerandtext {
}

.family__card__header__h1 {
}

.family__card__text__p {
}

.family__card__span, .family__tasks__span {

}

.tasks__span {
}

.more__details__element {
}

.more__details__element__row {
    height: 60px;
}

.more__details__text {
}

.more__details__link {

}


