/* .family {
    overflow: hidden;
    background-image: url(../../content/img/fon_ny_1-01.svg);
}

.left__content__element {
    display: flex;
    flex-direction: column;
    height: 1000px;

    min-height: 100%;
    background-image: url(../../content/img/fon_ny_2-01.svg);

    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 10px;
}

.family__board {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    flex-grow: 6;
    margin-bottom: 1%;

}

.header__h1, .board__header__h1, .family__board__header {
}

.family__view, .children__parents__view{
    display: flex;
    flex-direction: column;
    max-width: 100%;

    margin-left: 5%;
    margin-right: 5%;
    flex: 1 1 auto;
}

.header__h2, .view__header__h2 .family__view__header__h2 {
}

.view__header__h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item, .first__item {
}

.card, .card__family, .card__family__members {
}

.card__row, .family__card__row {
}

.card__header__text, .family__card__headerandtext {
}

.card__header__h1, .family__card__header__h1 {
}

.card__text__p, .task__card__text__p {
}

.card__span, .task__card__spa, .task__summ__wages__spann {
}

.number_span, .wages__span {
} */
