.right__content__element {
    display: flex;
    flex-direction: column;
    height: 1000px;

    min-height: 100%;
    background-image: url(../../content/img/fon_ny_2-01.svg);

    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 10px;
}

.right__content__element__col {
}
.chat__board {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    flex-grow: 6;
    margin-bottom: 1%;
}

.header__h1 .board__header{
}

.family__board__header {
}


.chat__view, .family__chat__view {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    /* margin: 0px auto; */
    margin-left: 5%;
    margin-right: 5%;
    /* justify-content: center; */
    flex: 1 1 auto;
}

.message, .chat__message, .family__chat__message {

}

.message {
    margin-bottom: 5%;
    width: 480px;

}

.chat__message, .family__chat__message{

}

.message__row, .message__family__chat__row {
}

.message__header__text {
}

.message__header, .message__header__h2 {
}

.message__text__p {
    padding: 15px;
}


.item {

}

.second__item {
    height: 100px;
    background-color: rgb(204, 41, 150);
}
.message__sender {
}
.body__sender {
}

.form-control {
    width: 400px;
    height: 51px;
    padding: 18px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}