.tasks {
    /* min-height: 872px; */
    overflow: hidden;
    background-image: url(../../content/img/fon_ny_1-01.svg);
    padding: 36px 0;
}

.board {
}
.task__making__board, .task__making {
}
.board__header__h1 {
}
.task__making__board__header {
}

.item, .first__item, .make__new__task__item {
    display: flex;
    max-width: 80%;
}

.create__task__input {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.create__task__input + div {
    margin-top: 30px;
}

.create__task__input input {
    width: 320px;
    height: 51px;
    padding: 18px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

input::placeholder{
    font-size: small;
}

input:focus::placeholder {
    opacity: 0;
}

.task-header {
}
.form-control {
}
.task-text {
}

.create__task__list, .create__task__list__col {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 12%;
}

.item__header__increment__buttons{
    display: flex;
    flex-direction: column;
    /* margin-left: 13%; */
    align-items: center;
    max-width: 233px;
}

/* Заголовок стоимости задачи */
.tasks__wage__header__h1{
    display: flex;
    margin-bottom: 13%;
    justify-content: center;
}

.wages {
}

.task__wages__buttons {
    display: flex;
    align-items: center;
}

.task__wages__buttons > * + *  {
    margin-left: 10px;
}


.btn__wages, a.btn__wages {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;

    background-color: #ffffff;

    font-size: 24px;
    font-weight: 400;
    width: 71px;
    height: 71px;
    margin: 0 20;

    border: 5px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 38px;
}

.btn__wages:hover, a.btn__wages:hover {
    opacity: 0.8;
    /* color: #292929; */
}




/* Элемент формы - Добавление фото */

.add__task__photo {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}

.add__task__photo > h1 {
    margin-left: 10px;
}

.add__task__photo {
}

.add__photo__icon {
}

.add__photo__header {
}


/* Элемент формы - Добавление ребенка */
.add__child {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}
.add__child > h1 {
    margin-left: 10px;
}

.add__child__icon {
}

.add__child__header {
}






/* Кнопка Submit */
.btn__submit, a.btn__submit {
    width: 40%;
    min-height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;

    padding-left: 50px;
    padding-right: 50px;
    background-color: #01996D;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
    transition: opacity 0.2s ease;
}

/* Кнопка Submit - при наведении */
.btn__submit:hover, a.btn__submit:hover {
    opacity: 0.8;
    color: #fff;
}

.btn-primary {
}
