/* .tasks__list__board {
    display: flex;
    overflow:auto;
    height: 500px;
    max-height: 100%;

    background-image: url(../../content/img/fon_ny_2-01.svg);

    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    flex-grow: 6;
    margin-bottom: 1%;
}

 .board__header, .tasks__list__board__header{
}

.tasks__list {
    /* display: flex;
    max-width: 100%;
    margin: 0px auto;
    justify-content: center;

    flex: 1 1 auto; */
/* }

.card__task {
    width: 492px;
    height: 80px;
}

.task__card__row {
}

.task__card__headerandtext {
}

.task__card__header__h1 {
}

.task__card__text__p {
}

.task__card__span, .task__wages__span {
    width: 58px;
    height: 58px;
}

.wages__span {
}

.showmore__element {
}

.showmore__element__row {
    height: 60px;
}

.showmore__text {
}

.showmore__link { */
/*} */