/**/
.header {
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #D6D6D6;
}


/**/
.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/**/
.header-logo {
}


/**/
.header-nav {
    font-weight: 500;
    color: #292929;
}


/*задаем горизонтальное расположение списков (Li) в листе (Ul) */
.header-nav ul {
    display: flex;
}


/*задем отступ слева всем элементам списков (Li) кроме первого*/
.header-nav li + li {
    margin-left: 70px;
}

/* отступы у всех кроме последнего ребенка */
/* .header-nav li:not(:last-child) {
    margin-right: 70px;
} */

/*отдельно задается отсутствие отступа у последнего ребенка */
/* .header-nav li:last-child {
    margin-right: 0px;
} */


/*настройка плавности перехода цвета ссылок (a) в Li*/
.header-nav a {
    transition: color 0.2s ease;
}


/*настройка цвета при наведении на ссылку (a) в  в Li  */
.header-nav a:hover {
    color: #01996D;
}


.header-login {
    display: flex;
    align-items: center;
}

.header-login > * + * {
    margin-left: 35px;
}

/*настройка цвета и плавности перехода цвета ссылок (a) в логине (Login)*/
.header-login a {
    color: #292929;
    transition: color 0.2s ease;
}

/*настройка цвета при наведении на ссылку (a) в логине (Login)*/
.header-login a:hover {
    color: #01996D;
}