body{
    font-family: 'VAGRounded', sans-serif;
    color: #000;
    padding-top: 1;
    padding-bottom: 40px;

    background-color: #eee;
    background-image: url(../../content/img/fon_ny_1-01.svg);
}

.registration {

}

.registration__container {
}
.content {
}
.registration__content {
}
.content__element {
}

.board {
    height: 400px;
    max-width: 450px;
    min-width: 320px;
    padding: 15px;
    margin: 0 auto;
    background-image: url(../../content/img/fon_ny_2-01.svg);
}

.registration__board {
}

.form-signin {
    /* max-width: 330px; */
    /* padding: 15px; */
    /* margin: 0 auto; */
    /* background-color: #fff; */
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
    background-color: #01996D;
}

.header__h2, .board__header__h2, .registration__board__header {
    margin-bottom: 30px;
    margin-bottom: 30px;
}

.form-group > input {
    margin-bottom: 20px;
}

.form-control {
}

.has-error {
    color: red
}


.btn {
    margin-top: 20%;
    color: #000;
    background-color: #01996D;
}
.btn:hover {
    background-color: #01996D;
    opacity: 0.8;
}

.btn-lg {
}
.btn-primary {
}

.btn-block {
}




.registration__container {
}
.registration__content {
}
.content__element__col {
}

.board__registration {
    height: 450px;
    max-width: 450px;
    min-width: 320px;
    padding: 15px;
    margin: 0 auto;
}

.board__registration {
    overflow:hidden;
    min-height: 500px;
    max-height: 100%;
    background-image: url(../../content/img/fon_ny_2-01.svg);

    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    flex-grow: 6;
}

.board__header__h1 {
}
.greeting__board__header {
}
.form-signin {
}


.form-signin {
    /* max-width: 330px;
    padding: 15px;
    margin: 0 auto; */
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    /* margin-bottom: 10px; */
}

.form-signin .checkbox {
    /* font-weight: normal; */
}



.form-signin .form-control {
    /* position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px; */
}

.form-signin .form-control:focus {
    /* z-index: 2; */
}

.form-signin input {
    /* margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; */
}

.form-signin button {
    /* margin-top: 10px; */
}



.board__header__h2 {
}
.registration__board__header {
}
.form-group {
}
.form-control {
}
