body{
    
}
.registration {
    font-family: 'VAGRounded', sans-serif;
    color: #000;
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: #eee;
    background-image: url(/src/main/resources/static/content/img/fon_ny_1-01.svg);
}

.registration__wrapper {

}
.registration__col {
    margin-top: 100px;
    
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
    background-color: #01996D;
}

.has-error {
    color: red
}