<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CoolTeam HTML project for earn poket money</title>
    <!--Reset-->
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/base.css">


    <!--Blocks-->
    <link rel="stylesheet" href="./css/blocks/header.css">
    <link rel="stylesheet" href="./css/blocks/home.css">

    <!--Fonts-->
    <link rel="stylesheet" href="./css/fonts/Georgia/stylesheet.css">
    <link rel="stylesheet" href="./css/fonts/Lato/stylesheet.css">
    <link rel="stylesheet" href="./css/fonts/EcoCoding/stylesheet.css">
</head>

<body>
    
    <header class="header">
        <div class="container">
            <div class="header-row">
                <div class="header-logo">CooTeam<!--<img src=".img/logo.svg" alt="Logo">--></div>
                <nav class="header-nav">
                    <ul class="">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Семья</a></li>
                        <li><a href="#">Задачи</a></li>
                        <li><a href="#">Статистика</a></li>
                    </ul>
                </nav>
                <div class="header-login">
                    <a href="#">Sign in</a>
                    <a href="#" class="btn">Поехали!</a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="home">
            <div class="container">
               <div class="home-content-row">
                   <div class="task-making">
                       <!-- Заголовок -->
                       <h1 class="h1-header">Создать задачу :</h1>
                       
                       <!-- Форма создания карточки -->
                       <form action="#" method="get">
                            <!-- Форма ввода текста -->
                            <div class="create_task-input">
                                <div class="task-header">
                                    <input type="text" placeholder="Введите заголовок задачи..."name="task-header" value="" class="form-control" id="exampleInputTaskHeader" aria-describedby="taskHelp">
                                    <div id="taskHelp" class="form-text"></div>
                                </div>
                            </div>

                            <div class="create_task-input">
                                <div class="task-text"></div>
                               <input type="text" placeholder="Введите текст задачи..." name="task-text" value="" class="form-control" id="exampleInputTask" aria-describedby="taskHelp">
                               <div id="taskHelp" class="form-text"></div>
                            </div>

                            <!-- Стоимость задачи -->
                            <div class="task-cost-header">
                                <h1 class="task-cost-button-header">Стоимость задачи</h1>

                                <div class="task-cost-buttons">
                                    <a href = "#" class="btn-coast">-</a>
                                    <a href = "#" class="btn-coast">5</a>
                                    <a href = "#" class="btn-coast">+</a>
                                </div>

                                <!-- Фото задачи -->
                                <div class="task-photo">
                                    <a href="#" class = add-photo-icon><img src="img/content/camera.svg" alt="task-photo"></a>
                                    <h1 class="add-photo-header">Сделать фото задачи</h1>
                                </div>

                                <!-- Добавление ребенка -->
                                <div class="add-child">
                                    <!-- <p><input type="file" name="add-child-photo" id=""></p> -->
                                    <a href="#"class = add-child-icon><img src="img/content/plus_circle_outline.svg" alt="add-child"></a>
                                    <h1 class="add-child-header">Добавить ребенка</h1>
                                </div>

                                <!-- Кнопка создания формы -->
                                <button type="submit" class="btn btn-primary">Создать задачу</button>
                            </div>
                        </form>
                    </div>

                    <div class="task-board">
                        <!-- Заголовок доски задач -->
                        <h1 class="h1-header">Список задач :</h1>

                        <!-- Список карточек задач -->
                        <div class="task-card-list">

                            <!-- Карточка задачи -->
                            <div class="task-card">

                                <!-- Блок заголовок и текст карточки -->
                                <div class="task-card-header-text">

                                    <!-- Заголовок карточки -->
                                    <h1 class="task-card-header">Задача №  1</h1>

                                    <!-- Текст карточки -->
                                    <p class="task-card-text">Помыть посуду</p>
                                </div>

                                <!-- Блок оценка карточки -->
                                <div class="task-coast">
                                    <!-- Оценка карточки -->
                                    <span class="coast">5</span>
                                </div>
                            </div>

                            <!-- Карточка задачи -->
                            <div class="task-card">

                                <!-- Блок заголовок и текст карточки -->
                                <div class="task-card-header-text">

                                    <!-- Заголовок карточки -->
                                    <h1 class="task-card-header">Задача №  2</h1>

                                    <!-- Текст карточки -->
                                    <p class="task-card-text">Помыть посуду</p>
                                </div>

                                <!-- Блок оценка карточки -->
                                <div class="task-coast">
                                    <!-- Оценка карточки -->
                                    <div class="coast">3</div>
                                </div>
                            </div>
                            
                            <div class="task-card">

                                <!-- Блок заголовок и текст карточки -->
                                <div class="task-card-header-text">

                                    <!-- Заголовок карточки -->
                                    <h1 class="task-card-header">Задача №  3</h1>

                                    <!-- Текст карточки -->
                                    <p class="task-card-text">Помыть посуду</p>
                                </div>

                                <!-- Блок оценка карточки -->
                                <div class="task-coast">
                                    <!-- Оценка карточки -->
                                    <div class="coast">15</div>
                                </div>
                            </div>
                            <div class="task-card">

                                <!-- Блок заголовок и текст карточки -->
                                <div class="task-card-header-text">

                                    <!-- Заголовок карточки -->
                                    <h1 class="task-card-header">Задача №  4</h1>

                                    <!-- Текст карточки -->
                                    <p class="task-card-text">Помыть посуду</p>
                                </div>

                                <!-- Блок оценка карточки -->
                                <div class="task-coast">
                                    <!-- Оценка карточки -->
                                    <div class="coast">7</div>
                                </div>
                            </div>
                            <div class="task-card">

                                <!-- Блок заголовок и текст карточки -->
                                <div class="task-card-header-text">

                                    <!-- Заголовок карточки -->
                                    <h1 class="task-card-header">Задача №  5</h1>

                                    <!-- Текст карточки -->
                                    <p class="task-card-text">Помыть посуду</p>
                                </div>

                                <!-- Блок оценка карточки -->
                                <div class="task-coast">
                                    <!-- Оценка карточки -->
                                    <div class="coast">10</div>
                                </div>
                            </div>
                            <div class="task-card">

                                <!-- Блок заголовок и текст карточки -->
                                <div class="task-card-header-text">

                                    <!-- Заголовок карточки -->
                                    <h1 class="task-card-header">Задача №  6</h1>

                                    <!-- Текст карточки -->
                                    <p class="task-card-text">Помыть посуду</p>
                                </div>

                                <!-- Блок оценка карточки -->
                                <div class="task-coast">
                                    <!-- Оценка карточки -->
                                    <div class="coast">5</div>
                                </div>
                            </div>
                            
                         <!-- Блок показать "ЕЩЕ" -->
                         <div>
                            <a href="#" class="show-more">Еще...</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>

    <footer><div th:insert="copyright :: copy"></div></footer>

</body>

</html>